<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
        integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
        crossorigin="anonymous" />
    <title>Diabetes Log</title>
</head>

<body>
    <header><i class="fas fa-tint"></i>Diabetes Log</header>

    <h3>Track your blood sugar, carb, and insulin intake</h3>

    <p>Click <a href="/carbs">here</a> to see your log</p>

    <footer>
        <p>Copyright &copy; All Rights Reserved Diabetes Log 2020</p>
    </footer>
    
</body>

</html>