<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
        integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
        crossorigin="anonymous" />

    <script src="https://www.gstatic.com/firebasejs/8.2.5/firebase-app.js"></script>

    <script>
        // const firebase = require("firebase/app");
        // require("firebase/auth");

        const firebaseConfig = {
            apiKey: "AIzaSyCbeJEdVXs5sFGtGpO0V1R1FLNaqeWZ6pg",
            authDomain: "diabetes-log-7d9a0.firebaseapp.com",
            projectId: "diabetes-log-7d9a0",
            storageBucket: "diabetes-log-7d9a0.appspot.com",
            messagingSenderId: "633332945503",
            appId: "1:633332945503:web:dce3f9cdff861b795081ea",
        };

        firebase.initializeApp(firebaseConfig);

        // const googleProvider = new firebase.auth.GoogleAuthProvider();
        // const auth = firebase.auth();

        // function login() {
        //     return auth.signInWithPopup(googleProvider);
        // }

        // function logout() {
        //     return auth.signOut();
        // }

        // module.exports = {
        //     login,
        //     logout,
        //     auth,
        // };
    </script>

    <title>Diabetes Log</title>
</head>

<body>
    <header>
        <i class="fas fa-tint"></i>Diabetes Log
        <nav>
            <ul>
                <!-- <li><a href="" onClick={signInWithGoogle}>Sign In with Google</a></li> -->
                <script>
                    function signInWithGoogle() {
                        const googleAuthProvider = new firebase.auth.GoogleAuthProvider
                        firebase.auth().signInWithPopup(googleAuthProvider)
                            .then(function (data) {
                                console.log(data)
                            })
                            .catch(function (error) {
                                console.log(error)
                            })
                    }
                </script>
                <!-- <li><a href="" onClick={logout}>Logout</a></li> -->
            </ul>
        </nav>
    </header>

    <h3>Track your blood sugar, carb, and insulin intake</h3>

    <p>Click <a href="/carbs">here</a> to see your log</p>

    <footer>
        <p>Copyright &copy; All Rights Reserved Diabetes Log 2020</p>
    </footer>


    <!-- <script src="https://www.gstatic.com/firebasejs/8.2.5/firebase-app.js"></script>

    <script>
        const firebase = require("firebase/app");
        require("firebase/auth");

        const firebaseConfig = {
            apiKey: "AIzaSyCbeJEdVXs5sFGtGpO0V1R1FLNaqeWZ6pg",
            authDomain: "diabetes-log-7d9a0.firebaseapp.com",
            projectId: "diabetes-log-7d9a0",
            storageBucket: "diabetes-log-7d9a0.appspot.com",
            messagingSenderId: "633332945503",
            appId: "1:633332945503:web:dce3f9cdff861b795081ea",
        };

        firebase.initializeApp(firebaseConfig);

        const googleProvider = new firebase.auth.GoogleAuthProvider();
        const auth = firebase.auth();

        function login() {
            return auth.signInWithPopup(googleProvider);
        }

        function logout() {
            return auth.signOut();
        }

        module.exports = {
            login,
            logout,
            auth,
        };
    </script> -->
</body>

</html>