<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">

    <title>Diabetes Log</title>
</head>
<body>
    <header>Diabetes Log</header>
    <h3>Track your blood sugar, carb, and insulin intake</h3>
    <p>Click <a href="/carbs">here</a> to see your log</p>
</body>
</html>