body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

header {
    background: #CC4A2F ;
    height: 70px;
    color: white;
    font-size: 45px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
}