<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Add New Log</title>
</head>
<body>
    <header>Add Log</header>
    <h3>Add your meal details here to be added to your log:</h3>
    <form action="carbs" method="POST" autocomplete="off">
        <fieldset>
        <label for="date">Date</label>
        <input type="date" name="date"> <br>

        <label for="mealTime">Meal Time</label>
        <input type="time" name="mealTime"> <br>

        <label for="bloodSugar">Blood Sugar</label>
        <input type="text" name="bloodSugar"> <br>

        <label for="carbs">Carbs</label>
        <input type="text" name="carbs"> <br>

        <label for="unitsTaken">Units Taken</label>
        <input type="text" name="unitsTaken"> <br>
      </fieldset>
      <button type="submit">Add Log</button>
      </form>

</body>
</html>